@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Church AI</h1>
    <p>
        Our new website is designed to make it easier for you to interact with our church’s audio content. With our advanced audio conversion and transcription tool, you can now upload audio files in MP3 format and have them seamlessly converted into high-quality WAV files. Once converted, these files are sent to Azure AI Speech for accurate transcription, making our sermons, hymns, and other audio resources accessible in text form.
        Whether you're looking to revisit a recent sermon or access our audio resources in a different format, our site simplifies the process with a user-friendly interface. Explore our site today and experience a new way to connect with our church’s teachings and content.
    </p>
</div>
